header {
  box-shadow: 1px 1px 50px -30px;
  padding: 10px;
  .header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: adjust-hue($color: black, $degrees: 0);
      text-decoration: none;
    }
  }
}