#content {
  padding: 50px;
}

.characters {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 50px;
}

.character-item {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 335px;
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: $third-color;
    color: black;
    h2 {
      padding: 10px;
      text-align: center;
    }
  }
}

.characters-inner {
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  gap: 30px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 1px 1px 20px -5px black;
  img {
    border-radius: 5px;
    width: 100%;
  }
  h2 {
    margin-top: 10px;
    text-align: center;
  }
}

.characters-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

@media (min-width: 600px) {
  .characters-inner {
    flex-direction: row;
    max-width: 600px;
  }

  .characters {
    grid-template-columns: 1fr 1fr;
  }

  .character-item:nth-child(2n) {
    margin: 0 auto 0 0;
  }

  .character-item:nth-child(2n+1) {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 1000px) {
  .characters {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .character-item:nth-child(3n-1) {
    margin: 0 auto;
  }

  .character-item:nth-child(3n+1) {
    margin: 0 0 0 auto;
  }
  .character-item:nth-child(3n) {
    margin: 0 auto 0 0;
  }
}